body{
font-family: Arial;
background:#f4f4f4;
display:flex;
justify-content:center;
align-items:center;
height:100vh;
}

.container{
background:white;
padding:30px;
border-radius:10px;
width:320px;
text-align:center;
}

input{
padding:8px;
width:65%;
}

button{
padding:8px;
cursor:pointer;
margin:5px;
}

li{
list-style:none;
padding:8px;
margin:5px 0;
background:#eee;
display:flex;
justify-content:space-between;
}

.completed{
text-decoration:line-through;
color:gray;
}

.dark{
background:#222;
color:white;
}